<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  <title>Food-Notes</title>
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">

        <div>
          <a class="navbar-brand" href="/">
            <img class="nav-bar-logo" src="/img/logo.png" alt="Food Notes logo" /> Food Notes
          </a>
        </div>

        
        <div class="nav-bar-tabs">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/restaurants">See All</a>
              </li>
              <% if (authUser) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/<%= authUser %>/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                  <form method="POST" action="/logout">
                    <input id="logout-btn" type="submit" value="Log out">
                  </form>
                </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a href="/register">
                    <button type="button" class="btn btn-outline-danger">
                      Sign Up
                    </button>
                  </a>
                </li>
              <% } %>
  
            </ul>
        </div>
        
          
        </div>
      </div>
    </nav>
  </header>

  <main>