body {
  font-family: "Quattrocento Sans", sans-serif;
  background-color: F9F5EB;
}

.red {
  color: #E25A25;
}

.yellow {
  color: #F7B501;
}

.background-yellow {
  background-color: #F7B501;
}

.purple {
  color: #D3C1f8;
}

.background-purple {
  background-color: #D3C1f8;
}

.placeholders {
  color: lightgrey;
  font-style: italic;
}

.divider {
  height: 1px;
  border-bottom: 3px solid lightgrey;
  width: 100%;
}

.restaurant-page .btn-outline-secondary {
  border: none;
}

.restaurant-page .btn-outline-secondary:hover {
  background-color: #fff;
  color: #6c757d;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento", serif;
  text-align: center;
  margin: 0;
}

p {
  margin: 0;
}

.emphasis {
  font-size: 1.2em;
}

.error-message {
  font-style: italic;
}

.restaurants-list a, .boards-list a {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}

.navbar {
  padding-left: 5%;
  padding-right: 5%;
}

.nav-bar-logo {
  height: 60px;
  width: auto;
}

.navbar .container-fluid {
  gap: 8em;
}

.nav-bar-search-form {
  flex-grow: 1;
}

footer {
  padding: 4em 0 1em 0;
  font-size: 0.8em;
  text-align: center;
}

footer p {
  margin: 0;
}

/* .col, .col-10 {
  border: solid red 1px;
} */

header {
  padding-bottom: 3em;
}

.breadcrumb {
  margin-bottom: 0;
}

.pointer-on-hover:hover {
  cursor: pointer;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #E25A25;
  --bs-btn-border-color: #E25A25;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bb2d3b;
  --bs-btn-hover-border-color: #b02a37;
  --bs-btn-focus-shadow-rgb: 225,83,97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b02a37;
  --bs-btn-active-border-color: #a52834;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #E25A25;
  --bs-btn-disabled-border-color: #E25A25;
}

.btn-outline-danger {
  --bs-btn-color: #E25A25;
  --bs-btn-border-color: #E25A25;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #E25A25;
  --bs-btn-hover-border-color: #E25A25;
  --bs-btn-focus-shadow-rgb: 220,53,69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E25A25;
  --bs-btn-active-border-color: #E25A25;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #E25A25;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #E25A25;
  --bs-gradient: none;
}


#logout-btn {
  background: none;
  border: none;
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  padding-left: var(--bs-nav-link-padding-y);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.card-img-top {
  height: 180px;
  vertical-align: middle;
  object-fit: cover;
  background: no-repeat fixed center;
}

.card-body .list-group-item {
  border: none;
}

.restaurants-list, .boards-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
}

.card-title {
  display: flex;
  height: 2.5em;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.card-subtitle {
  text-align: center;
}

.card-title:hover {
  color: #F78501;
}

.card-categories, .categories {
  display: flex;
  flex-flow: row wrap;
  gap: 0.2em
}

.category-tag {
  border-radius: 0.5em;
  padding: 0.4em 0.4em 0.2em 0.4em;
  color: black;
}

.restaurants-list .category-tag {
  font-size: 0.9em;
  padding: 0.4em 0.4em 0.1em 0.4em;
}

.category-tag:hover {
  background-color: #5218c5;
  color: white;
}

.neighborhood-name {
  font-weight: bold;
}

.neighborhood-name:hover {
  color: #b35f00;
}

.price-reviews {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}

.snippet {
  font-size: 0.9em;
  color: grey;
}

.snippet p {
  margin: 0;
}

.card-body .list-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.stars-rating {
  height: 1em;
}

.restaurants-list .pin-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  align-items: stretch;
}

.restaurants-list .pin-form .added {
  color: green;
  font-style: italic;
}

.restaurants-list .pin-form button {
  flex-shrink: 0;
}

.boards-options {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
}

.boards-dropdown {
  flex-grow: 1;
}

.boards-dropdown .custom-select {
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 0.3em;
  padding: 0 0.5em;
}

.restaurant-photos {
  display: flex;
  flex-flow: row nowrap;
}

.restaurant-photos > img {
  max-width: calc(100% / 3);
  max-height: 300px;
  object-fit: cover;
}

.restaurant-page .name {
  font-weight: bold;
}

.business-info {
  border: 1px solid lightgrey;
  border-radius: 1em;
  padding: 2em;
}

.business-info {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

.business-info .details {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

.business-info .details p {
  margin: 0;
}

.restaurant-page {
  display: flex;
  flex-flow: column nowrap;
  gap: 3em;
}

.restaurant-page .top-row {
  gap: 3em
}

.restaurant-page .business-summary {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
}

.restaurant-page .require-auth {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
}

.restaurant-page .require-auth button {
  width: 6em;
}

.current-pins {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5em;
  align-items: center;
}

.current-pins a {
  text-decoration: none;
}

.current-pins a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #bb2d3b;
}

.require-auth .edit-btn {
  margin-left: auto;
}

.restaurant-page .pin-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.restaurant-page .pin-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1em;
  align-items: stretch;
}

.restaurant-page .pin-form p {
  align-self: center;
}

.private-tag-section {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  align-items: center;
}

.private-tag {
  border-radius: 0.5em;
  padding: 0.4em 0.4em 0.2em 0.4em;
  color: black;
  align-items: center;
}

.private-note-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.private-note-section .header {
  display: flex;
  flex-flow: row nowrap;
}

.private-note-section .notes {
  border: 1px solid lightgrey;
  padding: 1em;
  border-radius: 0.5em;
}

.write-review > div {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.write-review form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.write-review .review-text {
  line-height: 5;
  width: 100%;
  border: 1px solid lightgrey;
  padding: 1em;
  border-radius: 0.5em;
}

.review-rating {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5em;
}

.reviews-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5em;
}

.reviews-list .user-profile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.reviews-list .review {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
}

.review .time-created {
  margin-top: 0.5em;
  font-size: 0.8em;
  font-style: italic;
  color: grey;
}

#map {
  height: 200px
}

.register-page, .login-page, .board-create-page, .board-edit-page {
  max-width: 600px;
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
}

.register-page form, .login-page form, .board-create-page form, .board-edit-page form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

.buttons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1em;
}

.login-prompt {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  align-items: center;
}

.restricted {
  color: grey;
  font-style: italic;
}

.user-dashboard {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
}

.user-dashboard .user-pic img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.user-dashboard .user-info {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.user-dashboard .content {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
}

.user-dashboard .content .header {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
}

.board-description {
  padding: 0.5em 0;
  color: grey;
  font-style: italic;
}

#description {
  line-height: 5;
}

.close {
  border: none;
  background: none;
  font-size: 1.5em;
}

.boards-list .card-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.boards-list .header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
