<%- include('../partials/header'); %>

<div class="container">
  <h2>Board index</h2>
  <% if (errMsg) { %>
    <p class="error-message red align-center"><%= errMsg %></p>
  <% } %>
</div>

<%- include('../partials/footer'); %>