<%- include('../partials/header'); %>
<div class="space"></div>
<div class="container">

  <h2>Oops...</h2>

  <% if (errMsg) { %>
    <p class="error-message red align-center"><%= errMsg %></p>
  <% } else { %>
    <p class="error-message red align-center">An error happened</p>
  <% } %>

  <a class="btn btn-primary align-center" href="/" role="button">Back to homepage</a>
  
</div>

<%- include('../partials/footer'); %>