<%- include('../partials/header'); %>

<div class="container restaurants-index">
  <div class="row">

    <div class="col filter-sidebar">
      Filters here
    </div>

    <div class="col-10 restaurants-list">
      <div class="title">
        <!-- TODO: update the title with category & are when filters are applied -->
        <h2>Restaurants for<span class="placeholders">Category</span> in <span class="placeholders">Area</span></h2>
      </div>

      <%- include('../partials/restaurants/restaurants_list'); %>
      
    </div>
  </div>
</div>


<%- include('../partials/footer'); %>