<%- include('../partials/header'); %>

<div class="container restaurants-index">
  <div class="row">

    <div class="col filter-sidebar non-mobile">
      <%- include('../partials/restaurants/filters.ejs'); %>
    </div>

    <div class="col-8 restaurants-list">
      <div class="title">
        <!-- TODO: update the title with category & are when filters are applied -->
        <h2>Restaurants Results</h2>
      </div>

      <%- include('../partials/restaurants/restaurants_list'); %>
      
    </div>
  </div>
</div>


<%- include('../partials/footer'); %>